<!--About Area Start-->
        <div class="home-hello-info">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="f-title text-center">
							<h3 class="title text-uppercase">Thông tin tài khoản</h3>
						</div>
					</div>
				</div>
				<div class="row information"></div>
                <script id="infor-detail" type="text/x-handlebars-template">
                    <div class="col-md-7 col-sm-12 col-xs-12">
						<div class="about-page-cntent">
							<table class="table">
                                <tr>
                                    <td>Họ tên</td>
                                    <td>#{{userNameFormat}}</td>
                                </tr>
                                <tr>
                                    <td>Số điểm đánh gía</td>
                                    <td>{{assess}}</td>
                                </tr>
                            </table>
						</div>
						<div class="contentComment"></div>
						<div class="contact-form">
							<span class="legend">Đánh giá người dùng</span>
							<form action="" id="formNhanXet" method="">
								<div class="form-top">
									<div class="form-group col-sm-12 col-md-12 col-lg-12">
										<label>Nội dung<span class="required" title="required">*</span></label>
										<textarea style="resize: none;" name="message" class="yourmessage"></textarea>
									</div>		
									<div class="col-sm-6 col-md-6 col-lg-6">
										<label>Bình chọn<span class="required" title="required">*</span></label></br>
										<label class="radio-inline">
											<input type="radio" name="optradio" value="1" checked="checked">Like
										</label>
										<label class="radio-inline">
											<input type="radio" name="optradio" value="-1">Dislike
										</label>
									</div>									
									
								</div>
								<div class="submit-form form-group col-sm-12 submit-review">
									<div class="clearfix"></div>
									<button class="button floatright" id="nhanxet" type="button"><span>Nhận xét</span></button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-5 col-sm-12 col-xs-12">
						<div class="img-element">
							<img alt="banner1" src="vendor/img/adventure-aerial-beautiful-351448.jpg">
						</div>
					</div>
                </script>
			</div>
		</div>
		<!--End of ABout ARea-->
		
<script id="formListComment" type="text/x-handlebars-template">
	<div class="reply-comment-area">
		<h3>Danh sách nhận xét</h3>
		{{#each this}}
		<div class="single-reply">
			<div class="comment-author">
				<img alt="" src="vendor/img/1891056_437546306391166_838668049_n.jpg">
			</div>
			<div class="comment-info">
				<div class="comment-author-info">
					<a href="#"><b>User #####/#</b></a>
					Post author
					<span>21/6/2018 1:38 am</span>
				</div>
				<p class="appen">{{messenger}}</p>
			</div>
		</div>
		{{/each}}
	</div>
</script>
        