<!-- Account Area start -->
<div class="account-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="account-link-list">
                    <div class="page-title">
                        <h1>My Account</h1>
                    </div>
                    <p class="account-info">Welcome to your account. Here you can manage all of your personal information and orders.</p>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#information">
                                        <i class="fa fa-user"></i>
                                        <span>Cập nhật thông tin khách hàng</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="information" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <div class="row">
                                    <div id="user-detail"></div>
                                    <script id="form-user-detail" type="text/x-handlebars-template">
                                        <div class="col-sm-6">                                                  
                                                <div class="form-group required">
                                                    <label class="col-md-12 col-sm-12 control-label">First Name</label>
                                                    <div class="col-md-12 col-sm-12">
                                                        <input type="text" class="form-control"  placeholder="First Name" value="{{firstName}}" name="firstname">
                                                    </div>
                                                </div>
                                                </br>
                                                <div class="form-group required">
                                                    <label class="col-md-12 col-sm-12 control-label">Last Name</label>
                                                    <div class="col-md-12 col-sm-12">
                                                        <input type="text" class="form-control"  placeholder="Last Name" value="{{lastName}}" name="lastname">
                                                    </div>
                                                </div>
                                                </br>
                                                <div class="form-group required">
                                                    <label class="col-md-12 col-sm-12 control-label">Email</label>
                                                    <div class="col-md-12 col-sm-12">
                                                        <input type="text" class="form-control"  placeholder="Last Name" value="{{eMail}}" name="lastname" disabled>
                                                    </div>
                                                </div>
                                                </br>
                                                <div class="form-group required">
                                                    <label class="col-md-12 col-sm-12 control-label">Đổi mật khẩu</label>
                                                    <div class="col-md-12 col-sm-12">
                                                        <input type="password" class="form-control"  name="password">
                                                    </div>
                                                </div>
                                                
                                            </div>    
                                            <div class="col-sm-6">   
                                                    <div class="form-group required">
                                                        <label class="col-md-12 col-sm-12 control-label">Địa chỉ</label>
                                                        <div class="col-md-12 col-sm-12">
                                                            <input type="text" class="form-control"  placeholder="Last Name" value="{{address}}" name="address">
                                                        </div>
                                                    </div>                                               
                                                    <div class="form-group required">
                                                        <label class="col-md-12 col-sm-12 control-label">Ngày duyệt yêu cầu Vip</label>
                                                        <div class="col-md-12 col-sm-12">
                                                            <input type="text" class="form-control" disabled value="{{dateGrant}}" name="">
                                                        </div>
                                                    </div>
                                                    </br>
                                                    <div class="form-group required">
                                                        <label class="col-md-12 col-sm-12 control-label">Ngày hết hạn Vip</label>
                                                        <div class="col-md-12 col-sm-12">
                                                            <input type="text" class="form-control"  disabled value="{{dateExpired}}" name="">
                                                        </div>
                                                    </div>
                                                    </br>
                                                    <div class="form-group required">
                                                            <label class="col-md-12 col-sm-12 control-label">Thành Viên</label>
                                                            <div class="col-md-12 col-sm-12">
                                                                {{#if catUser }}
                                                                <span class="label label-success" style="font-size: 20px;line-height: 40px;"> Vip </span>
                                                                {{else}}
                                                                <span class="label label-danger" style="font-size: 20px;line-height: 40px;"> Thường </span>
                                                                {{/if}}
                                                            </div>
                                                        </div>
                                                        </br>

                                                        {{#if catUser }}
                                                            
                                                        {{else}}
                                                            <div class="form-group required" id="Waitting">
                                                                <label class="col-md-12 col-sm-12 control-label">Hệ thông đang xử lý</label>
                                                            </div>
                                                        {{/if}}
                                                        
                                                    
                                                        <div class="form-group required" id="Vip">
                                                            <label class="col-md-12 col-sm-12 control-label">Yêu cầu nâng cấp lên Vip</label>
                                                            <div class="col-md-12 col-sm-12">
                                                                <button class="btn btn-success" id="requestVip" type="button"><span>Nâng cấp VIP </span></button>
                                                            </div>
                                                        </div>
                                                        </br>
                                                    
                                                    <div class="col-md-12">
                                                        <div class="buttons-set">
                                                            <button class="button" id="updateInfo" type="button"><span>Thay đổi thông tin cá nhân </span></button>
                                                        </div>
                                                    </div>
                                                </div>         
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed getAuctionProductOfUser" role="button" data-toggle="collapse" data-parent="#accordion" href="#wishlists">
                                        <i class="fa fa-heart"></i>
                                        <span>Danh sách sản phẩm đã đăng đấu giá</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="wishlists" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body table-all-auction-product-to-user"></div>
                                <script id="table-all-auction-product" type="text/x-handlebars-template">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Hình</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Giá khởi điểm</th>
                                                <th>Giá mua đứt</th>
                                                <th>Thời gian bắt đầu</th>
                                                <th>Thời gian kết thúc</th>
                                                <th>Cập nhật</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{#each this}}
                                            <tr>
                                                <th scope="row">{{@index}}</th>
                                                <td><a href='#/auction-detail/{{_id}}'><img src="{{MainImg}}" alt="{{MainImg}}" style="width:100px" class="img-thumbnail"></a></td>
                                                <td>{{proName}}</td>
                                                <td>{{formatNumber price style="currency" currency="VND"}}</td>
                                                <td>{{#if checkPricebuyNow}}
                                                        {{formatNumber pricebuyNow style="currency" currency="VND"}}
                                                    {{/if}}
                                                </td>    
                                                <td>{{postTime}}</td>
                                                <td>{{timeEnd}}</td>
                                                <td><a href="#/updateDescribe/{{_id}}" class="btn btn-warning">Cập nhật</a></td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>                          
                                </script>
                            </div>
                        </div>
                        <!--  -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFives">
                                <h4 class="panel-title">
                                    <a class="collapsed getTimeProductOfUser" role="button" data-toggle="collapse" data-parent="#accordion" href="#wishlistsahjhj">
                                        <i class="fa fa-heart"></i>
                                        <span>Danh sách sản phẩm còn hạng đấu giá</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="wishlistsahjhj" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFives">
                                <div class="panel-body table-all-time-product-to-user"></div>
                                <script id="table-all-time-product" type="text/x-handlebars-template">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Hình</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Giá khởi điểm</th>
                                                <th>Giá mua đứt</th>
                                                <th>Thời gian bắt đầu</th>
                                                <th>Thời gian kết thúc</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{#each this}}
                                            <tr>
                                                <th scope="row">{{@index}}</th>
                                                <td><a href='#/auction-detail/{{_id}}'><img src="{{MainImg}}" alt="{{MainImg}}" style="width:100px" class="img-thumbnail"></a></td>
                                                <td>{{proName}}</td>
                                                <td>{{formatNumber price style="currency" currency="VND"}}</td>
                                                <td>{{#if checkPricebuyNow}}
                                                        {{formatNumber pricebuyNow style="currency" currency="VND"}}
                                                    {{/if}}
                                                </td>    
                                                <td>{{postTime}}</td>
                                                <td>{{timeEnd}}</td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>                          
                                </script>
                            </div>
                        </div>
                        <!--  -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFivess">
                                <h4 class="panel-title">
                                    <a class="collapsed getAuctionEdProductOfUser" role="button" data-toggle="collapse" data-parent="#accordion" href="#daconguoimua">
                                        <i class="fa fa-heart"></i>
                                        <span>Danh sách sản phẩm đã có người mua</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="daconguoimua" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFivess">
                                <div class="panel-body table-all-AuctionEd-product-to-user"></div>
                                <script id="table-all-AuctionEd-product" type="text/x-handlebars-template">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Hình</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Giá khởi điểm</th>
                                                <th>Giá mua đứt</th>
                                                <th>Thời gian bắt đầu</th>
                                                <th>Thời gian kết thúc</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{#each this}}
                                            <tr>
                                                <th scope="row">{{@index}}</th>
                                                <td><a href='#/auction-detail/{{_id}}'><img src="{{MainImg}}" alt="{{MainImg}}" style="width:100px" class="img-thumbnail"></a></td>
                                                <td>{{proName}}</td>
                                                <td>{{formatNumber price style="currency" currency="VND"}}</td>
                                                <td>{{#if checkPricebuyNow}}
                                                        {{formatNumber pricebuyNow style="currency" currency="VND"}}
                                                    {{/if}}
                                                </td>    
                                                <td>{{postTime}}</td>
                                                <td>{{timeEnd}}</td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>                          
                                </script>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" class="getAllListAucing" data-toggle="collapse" data-parent="#accordion" href="#order">
                                        <i class="fa fa-list-ol"></i>
                                        <span>Sản phẩm đã đấu giá</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="order" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body table-all-list-aucing-to-user"></div>
                                <script id="table-all-list-aucing" type="text/x-handlebars-template">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Hình</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Giá khởi điểm</th>
                                                <th>Giá mua đứt</th>
                                                <th>Thời gian bắt đầu</th>
                                                <th>Thời gian kết thúc</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{#each this}}
                                            <tr>
                                                <th scope="row">{{@index}}</th>
                                                <td><a href='#/auction-detail/{{_id}}'><img src="{{MainImg}}" alt="{{MainImg}}" style="width:100px" class="img-thumbnail"></a></td>
                                                <td>{{proName}}</td>
                                                <td>{{formatNumber price style="currency" currency="VND"}}</td>
                                                <td>{{#if checkPricebuyNow}}
                                                        {{formatNumber pricebuyNow style="currency" currency="VND"}}
                                                    {{/if}}
                                                </td>    
                                                <td>{{postTime}}</td>
                                                <td>{{timeEnd}}</td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>                          
                                </script>
                            </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed getAllListAucWin" role="button" data-toggle="collapse" data-parent="#accordion" href="#credit">
                                        <i class="fa fa-file-o"></i>
                                        <span>Sản phẩm đã đấu giá thành công</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="credit" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body table-all-list-aucing-win-to-user"></div>
                                    <script id="table-all-list-aucing-win" type="text/x-handlebars-template">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Hình</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Giá khởi điểm</th>
                                                    <th>Giá mua đứt</th>
                                                    <th>Thời gian bắt đầu</th>
                                                    <th>Thời gian kết thúc</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {{#each this}}
                                                <tr>
                                                    <th scope="row">{{@index}}</th>
                                                    <td><a href='#/auction-detail/{{_id}}'><img src="{{MainImg}}" alt="{{MainImg}}" style="width:100px" class="img-thumbnail"></a></td>
                                                    <td>{{proName}}</td>
                                                    <td>{{formatNumber price style="currency" currency="VND"}}</td>
                                                    <td>{{#if checkPricebuyNow}}
                                                            {{formatNumber pricebuyNow style="currency" currency="VND"}}
                                                        {{/if}}
                                                    </td>    
                                                    <td>{{postTime}}</td>
                                                    <td>{{timeEnd}}</td>
                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>                          
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed getAllListLike" role="button" data-toggle="collapse" data-parent="#accordion" href="#wishlist">
                                        <i class="fa fa-heart"></i>
                                        <span>Danh sách sản phẩm yêu thích</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="wishlist" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body table-all-list-like-to-user"></div>
                                <script id="table-all-list-like" type="text/x-handlebars-template">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Hình</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Giá khởi điểm</th>
                                                <th>Giá mua đứt</th>
                                                <th>Thời gian bắt đầu</th>
                                                <th>Thời gian kết thúc</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{#each this}}
                                            <tr>
                                                <th scope="row">{{@index}}</th>
                                                <td><a href='#/auction-detail/{{_id}}'><img src="{{MainImg}}" alt="{{MainImg}}" style="width:100px" class="img-thumbnail"></a></td>
                                                <td>{{proName}}</td>
                                                <td>{{formatNumber price style="currency" currency="VND"}}</td>
                                                <td>{{#if checkPricebuyNow}}
                                                        {{formatNumber pricebuyNow style="currency" currency="VND"}}
                                                    {{/if}}
                                                </td>    
                                                <td>{{postTime}}</td>
                                                <td>{{timeEnd}}</td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>                          
                                </script>
                            </div>
                            </div>
                            <div class="panel panel-default" id="postNewAuction">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed getAllListLike" role="button" data-toggle="collapse" data-parent="#accordion" href="#asd">
                                            <i class="fa fa-heart"></i>
                                            <span>Đăng sản phẩm đấu giá</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="asd" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <div class="container">
                                            <form id="formAddAuctionToUser" enctype="multipart/form-data" method="POST" action="http://localhost:3019/products/api/upload">
                                        <!-- <form id="formAddAuctionToUser"> -->
                                            <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="tensanpham">Tên sản phẩm đấu giá</label>
                                                            <input type="text" name="proNames" class="form-control" id="tensanpham" placeholder="Ví du: Iphone X">
                                                        </div></br>
                                                        <div class="form-group">
                                                            <label for="tensanpham">Danh mục</label>
                                                                <!-- <select class="form-control selcls" name="category" id="category">
                                                                    <option>Vui lòng chọn danh mục</option>
                                                                </select> -->
                                                                
                                                                <div id="selectMulti"></div>
                                                        </div></br>
                                                        <div class="form-group">
                                                            <label for="giaban">Giá khởi điểm</label>
                                                            <input type="number" name="price" class="form-control" id="giaban" placeholder="Ví dụ: 1000">
                                                        </div></br>
                                                        
                                                        <div class="form-group">
                                                            <label for="jump">Bước nhảy</label></br>
                                                            <input type="number" name="jump" class="form-control" id="jump" placeholder="Ví dụ: giá góc chia cho 10">
                                                        </div></br>
                                                        <!-- <div class="form-group">
                                                            <label for="giamuadut">Giá mua đứt</label>
                                                            <input type="number" name="pricebuyNow" class="form-control" id="giamuadut" placeholder="Ví dụ: 1200">
                                                        </div></br> -->
                                                        
                                                        <!-- <div class="form-group">
                                                            <label for="giamuadut">Giá mua đứt</label>
                                                            <input type="number" name="pricebuyNow" class="form-control" id="giamuadut" placeholder="Ví dụ: 1200">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="giamuadut">Giá mua đứt</label>
                                                            <input type="number" name="pricebuyNow" class="form-control" id="giamuadut" placeholder="Ví dụ: 1200">
                                                        </div> -->
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="_pricebuyNow" style="position:relative;"></div>
                                                        <div class="form-group" id="__pricebuyNow">
                                                            <label for="giamuadut">Giá mua đứt</label></br>
                                                            <button type="button" class="btn btn-primary" id="btn_pricebuyNow" value="Giá mua đứt">Giá mua đứt</button>
                                                        </div></br>
                                                        <div class="form-group">
                                                            <label for="multiplefiles">Hình ảnh</label>
                                                            <input type="file" multiple name="file" class="form-control" id="multiplefiles">
                                                        </div>
                                                        </br>
                                                        <div class="form-group">
                                                            <label for="tensanpham">Tên sản phẩm đấu giá: &nbsp;</label>
                                                                <select class="btn btn-default" name="endTime" id="endTime">
                                                                    <option value="24">24 giờ</option>
                                                                    <option value="48">48 giờ</option>
                                                                    <option value="72">72 giờ</option>
                                                                </select>
                                                        </div>

                                                        <div class="form-group">
                                                                <label for="tensanpham">Tự động gia hạn: &nbsp;</label> </br>
                                                                <input type="radio" class="btn btn-default" name="tudonggiahan" id="radio-1" value="false" checked="checked"/>
                                                                <label for="radio-1">Không tự động gia hạn</label>
                                                            </br>
                                                                <input type="radio" class="btn btn-default" name="tudonggiahan" id="radio-2" value="true" />
                                                                <label for="radio-2">Tự động gia hạn</label>
                                                            </div>
                                                    </div>
                                                
                                            </div>
                                            </br></br>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea name="description" placeholder="Tóm tắt sản phẩm" class="form-control" id="froala-editor" cols="30" rows="10"></textarea>
                                                    </div>
                                                    <button type="submit" id="addAuctionToUser" class="btn btn-success">Đăng đấu giá</button>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        
                        
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</div>
<!--End of Account Area-->