<!--Breadcrumb Start-->
        <div class="breadcrumb-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <ul>
                                <li class="home"><a href="#/">Trang chủ</a><span>/ </span></li>
                                <li><strong>Thông tin chi tiết sản phẩm</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Breadcrumb-->
        <!--Product Details Area Start-->
        <div class="product-deails-area">
            <div class="container">
                <div class="row" id="auction-details"></div>
            </div>
        </div>
        <!--End of Product Details Area-->


<script id="form-auction-detail" type="text/x-handlebars-template">
<div class="col-lg-9 col-md-9">
    <div class="product-details-content row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="zoomWrapper">
                <div id="img-1" class="zoomWrapper single-zoom">
                    <a href="#">
                        <img id="zoom1" src="{{MainImg}}" data-zoom-image="{{MainImg}}" alt="big-1">
                    </a>
                </div>
                <div class="product-thumb row">
                    <ul class="p-details-slider" id="gallery_01">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="product-details-conetnt">
                <div class="shipping">
                    <div class="single-service">
                        <span class="fa fa-truck"></span>
                        <div class="service-text-container">
                            <h3>Vận chuyển miễn phí</h3>
                            <p>Với đơn hàng có giá cao nhât</p>
                        </div>   
                    </div>
                </div>
                <div class="product-name">
                        <h1>{{proName}}</h1>
                    </div>
                    <p class="availability">Tình trạng: <span>đang đấu giá</span></p>
                    <p class="availability">Số lượt đấu giá: <span id="countAuc"></span></p>
                    <div class="price-box">
                        <p class="special-price">
                            <p>Giá hiện tại</p>
                            <span class="price" name="giahientai" id="GiaHienTai"></span>
                        </p> 
                        {{#if checkPricebuyNow}}
                            <p class="special-price">
                                <p>Giá hiện mua đứt</p>
                                <span class="price">{{formatNumber pricebuyNow style="currency" currency="VND"}}</span>
                            </p> 	
                        {{/if}}
                                                                
                    </div>
                    <!-- <div class="details-description">
                        <p>Thông tin người đấu giá gần nhất</p>
                        <span>asdadas</span>
                        <p>Thông tin người đấu giá gần nhất</p>
                        <span>asdadas</span>
                    </div> -->
                    <div class="add-to-buttons">
                        <p>Yêu thích</p>
                        <ul class="userLike">
                            <li><a id="like"><i class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                
                <div class="add-to-cart-qty">
                    <div class="timer">
                        <p>Thời gian kết thúc đấu giá</p>
                        <div data-countdown="{{formatTimeEnd}}" class="timer-grid"></div>
                    </div>
                    <div class="cart-qty-button">
                        <!-- <label for="qty">Qty:</label>
                        <input type="text" disabled class="input-text qty" value="1" maxlength="12" id="qty" name="qty"> -->
                        <!-- <button class="button btn-cart" type="button"><span>Add to Cart</span></button> -->
                        {{#if checkAuction}}
                            <button type="button" id="Auction" class="button btn-cart" data-toggle="modal" data-target=".bd-example-modal-sm"><span>Đấu giá</span></button>
                        {{else}}
                            <h1>Đã có người mua</h1>
                        {{/if}}
                        <!-- <button type="button" id="Auction" class="button btn-cart" data-toggle="modal" data-target=".bd-example-modal-sm"><span>Đấu giá</span></button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="p-details-tab">
                <ul role="tablist" class="nav nav-tabs">
                    <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="description" href="#description">Information user post</a></li>
                    <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="reviews" href="#reviews">Information auction product</a></li>
                    {{#if CheckUserIsPoster}}
                        <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="tags" href="#tags">List User Auction</a></li> 	
                    {{/if}}
                    
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="tab-content review product-details">
                <div id="description" class="tab-pane active" role="tabpanel">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="multiplefiles">Người đăng: &nbsp;</label>
                                    <a href="#/about/{{idSeller}}" class="nameUserPost"  id="nameUserPost"></a>
                                </div>
                                <div class="form-group">
                                    <label for="multiplefiles">Điểm dánh giá:</label> &nbsp;
                                    <span class="diemdanhgiaNguoiDang"></span>
                                </div>
                                <div class="form-group">
                                    <label for="multiplefiles">Người giữ giá cao nhất: &nbsp;</label>
                                    <a href="#" class="userPriceMax" id="userPriceMax"></a>
                                </div>
                                <div class="form-group">
                                    <label for="multiplefiles">Điểm dánh giá:</label> &nbsp;
                                    <span class="diemdanhgiaNguoiCaoNhat"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="timePost">Thời điểm đăng</label>
                                    <input type="text" name="timePost" disabled class="form-control" id="timePost">
                                </div>
                                <div class="form-group">
                                    <label for="timeEnd">Thời điểm kết thúc</label>
                                    <input type="text" name="timeEnd" disabled class="form-control" id="timeEnd">
                                </div>
                            </div>
                        </div>
                </div>
                <div id="reviews" class="tab-pane" role="tabpanel">
                    
                </div>
                <div id="tags" class="tab-pane" role="tabpanel">
                    <div class="product-tag-name">
                        <form method="post" action="mail.php">
                            <div class="form-top">
                                <div class="row">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            <th>Họ tên</th>
                                            <th>Bình chọn</th>
                                            <th>Số tiền đấu giá</th>
                                            <th>Kích</th>
                                            </tr>
                                        </thead>
                                        <tbody id="contentTableUserAuction">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-carousel-area section-top-padding">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Sản phẩm đấu giá nhiều nhất</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="upsell-product-details-carousel product-carousel-top-5-topAuc"></div>
            </div>
        </div>
    </div> 
</br>   
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="sidebar-content">
        <div class="section-title no-margin"><h2>Danh mục liên quan</h2></div>
        <div class="popular-tags">
            <ul class="tag-list">                  
                
            </ul>
        </div>
    </div>
</div>
</script>

<script id="form-product-top-5-topAuc" type="text/x-handlebars-template">
    {{#each this}}
    <div class="col-md-3">
        <div class="single-product-item">
            <div class="single-product clearfix">
                <a href="#/auction-detail/{{_id}}">
                    <span class="product-image">
                        <img src="{{MainImg}}" alt="{{MainImg}}">
                    </span>
                </a>
            </div>
            <h2 class="single-product-name"><a href="#">{{proName}}</a></h2>
            <div class="price-box">
                <p class="special-price">
                    <span class="price">{{formatNumber price style="currency" currency="VND"}}</span>
                </p> 	
                {{#if checkPricebuyNow}}
                    <p class="special-price">
                        <span class="price">{{formatNumber pricebuyNow style="currency" currency="VND"}}</span>
                    </p> 
                {{/if}}											
            </div>
        </div>
    </div>
    {{/each}}
</script>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nhập đấu giá</h4>
        </div>
        <div class="modal-body">
            <h3>Giá hiện tại: <span class="currentPrice"></span></h3>
            <h3>Giá khách hàng muốn đấu giá: </h3>
            <input type="text" name="valuePriceAuction" class="form-control" placeholder="1000" style="width:100%;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="sendAuction" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        </div>
      </div>
  </div>
</div>