<!--Breadcrumb Start-->
        <div class="breadcrumb-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <ul>
                                <li class="home"><a href="index.html">Home</a><span>/ </span></li>
                                <li><strong>Shop List</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Breadcrumb-->
        <!--Banner Imgae Area Start-->
        <div class="banner-image-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="category-image"><img alt="women" src="vendor/img/pexels-photo-327186.jpeg"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Banner Imgae Area-->
        <!--Shop Main Area Start-->
        <div class="shop-main-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="sidebar-content">
                            <div class="section-title"><h2>Category</h2></div>
                            <div class="sidebar-category-list">
                                <ul id="childrenLi"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="shop-item-filter">
                            <div class="shop-tab clearfix">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs navbar-left" role="tablist">
                                    <li role="presentation" class="active"><a href="#list" class="list-view" aria-controls="list" role="tab" data-toggle="tab">List</a></li>
                                </ul>
                                <div class="filter-by">
                                    <h4>Short by </h4>
                                    <form action="#">
                                        <div class="select-filter">
                                            <select>
                                              <option value="color">Position</option>
                                              <option value="name">Name</option>
                                              <option value="brand">Brand</option>
                                            </select> 
                                        </div>
                                    </form>								
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div> 
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="grid">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="single-product-item">
                                            <div class="sale-product-label"><span>sale</span></div>
                                            <div class="single-product clearfix">
                                                <a href="#">
                                                    <span class="product-image">
                                                        <img src="img/product/1.jpg" alt="">
                                                    </span>
                                                    <span class="product-image hover-image">
                                                        <img src="img/product/2.jpg" alt="">
                                                    </span>
                                                </a>
                                                <div class="button-actions clearfix">	
                                                    <button class="button add-to-cart" type="button">
                                                        <span><i class="fa fa-shopping-cart"></i></span>
                                                    </button>
                                                    <ul class="add-to-links">
                                                        <li class="quickview">
                                                            <a class="btn-quickview modal-view" href="#" data-toggle="modal" data-target="#productModal">
                                                                <i class="fa fa-search-plus"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="link-wishlist" href="wishlist.html">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </li>																													<li>
                                                            <a class="link-compare" href="#">
                                                                <i class="fa fa-retweet"></i>
                                                            </a>
                                                        </li>										    
                                                    </ul>
                                                </div>
                                            </div>
                                            <h2 class="single-product-name"><a href="#">Fusce aliquam</a></h2>
                                            <div class="price-box">
                                                <p class="old-price">
                                                    <span class="price">$999.00</span>
                                                </p>
                                                <p class="special-price">
                                                    <span class="price">$767.00</span>
                                                </p> 											
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active shop-list" id="list-search"></div>    
                        </div>   
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pagination-content">
                                    <div class="pagination-button">
                                        <span><strong>Page:  <a id="loadMore"><i class="fa fa-caret-right"></i> Load More </a></strong></span>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        </br>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Shop Main Area-->

        


<script id="form-result-searchs" type="text/x-handlebars-template">
    {{#each this}}
    <div class="row">
        <div class="col-md-12">
            <div class="single-product-item">
                <div class="row"> 
                    <div class="col-md-3 col-sm-4">
                        <div class="single-product clearfix">
                            <a href="#/auction-detail/{{_id}}">
                                <span class="product-image">
                                    <img src="{{MainImg}}" alt="">
                                </span>
                            </a>
                        </div>
                    </div> 
                    <div class="col-md-9 col-sm-8"> 
                        <h1 class="single-product-name">{{proName}}</h1>
                        <p class="">Số lượt đấu giá: <span id="countAuc"> {{countAuc}}</span></p>										
                        <p class="nguoidang">Người đăng: <a href="#/about/{{idSeller}}">{{UserName}}</a></p>																			
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price">{{formatNumber price style="currency" currency="VND"}}</span>
                            </p> 
                            {{#if checkPricebuyNow}}
                                <p class="special-price">
                                    <span class="price">{{formatNumber pricebuyNow style="currency" currency="VND"}}</span>
                                </p> 
                            {{/if}}											
                        </div>
                    </div>    
                </div>   
            </div>
        </div>
    </div>
    {{/each}}
</script>


<script id="form-result-search" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">
            <div class="single-product-item">
                <div class="row"> 
                    <div class="col-md-3 col-sm-4">
                        <div class="single-product clearfix">
                            <a href="#/auction-detail/{{_id}}">
                                <span class="product-image">
                                    <img src="{{MainImg}}" alt="">
                                </span>
                            </a>
                        </div>
                    </div>   
                    <div class="col-md-9 col-sm-8"> 
                        <h2 class="single-product-name"><a href="#">{{proName}}</a></h2>
                        
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price">$234.00</span>
                            </p> 											
                        </div>
                        <div class="button-actions clearfix">
                            <ul class="add-to-links">
                                <li>
                                    <a class="link-wishlist" href="wishlist.html">
                                        <i class="fa fa-heart"></i>
                                    </a>
                                </li>									    
                            </ul>
                        </div>
                    </div>  
                </div>   
            </div>
        </div>
    </div>
</script>